* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
  @include minWidth(375px) {
    font-size: 14px;
  }
  @include minWidth(992px) {
    font-size: 16px;
  }
}
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: $grey-1;
}


.bg-8378F7 {
  background-color: #8378f7 !important;
}
.bg-FFB82E {
  background-color: #ffb82e !important;
}
.bg-20CB89 {
  background-color: #20cb89 !important;
}
.bg-F15EAE {
  background-color: #f15eae !important;
}
.bg-01D5E2 {
  background-color: #01d5e2 !important;
}
.bg-1D7AF3 {
  background-color: #1d7af3 !important;
}
.container-fluid {
  padding: 0 20px;
  @include minWidth(576px) {
    padding: 0 40px;
  }
  @include minWidth(1440px) {
    padding: 0;
  }
  max-width: 1300px;
  @include trans;
}

img {
  max-width: 100%;
  max-height: 100%;
  @include trans;
}

a {
  text-decoration: none;
  color: initial;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p {
  font-size: 14px;
  line-height: 150%;
  @include minWidth(1200px) {
    font-size: 16px;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.fwb {
  font-weight: bold !important;
}

.outline-0 {
  outline: none !important;
}

.box-shadow {
  box-shadow: 0 2px 5px rgba($color: $dark, $alpha: 0.3);
}

.rounded-sm {
  border-radius: $border-radius-sm !important;
}

.z-n1 {
  z-index: -1;
}

.top-0 {
  top: 0 !important;
}

.top-1-2 {
  top: 50% !important;
}

.left-0 {
  right: 0 !important;
}

.bottom-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.top-y-1-2 {
  transform: translateY(-50%);
}

.left-y-1-2 {
  transform: translateX(-50%);
}

.o0 {
  opacity: 0 !important;
}

.rounded-xsm {
  border-radius: 0.25rem !important;
}

.pointer {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 18px 5px;
  font-weight: 600;
  font-size: 1.143rem;
  line-height: 130%;
  width: 230px;
  height: 56px;
  margin: 0 auto;
  border-radius: 4px;
  @include minWidth(992px) {
    padding: 18px 10px;
    font-size: 1rem;
  }
  .icon {
    margin-left: 8px;
    width: 1.5rem;
    height: 1.5rem;
  }
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: 199px;
  height: 7.188rem;
}

h1 {
  font-weight: 400;
  font-size: 2.286rem;
  line-height: 120%;
  @include minWidth(1200px) {
    font-size: 3.25rem;
    line-height: 120%;
  }
}

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  @include minWidth(1200px) {
    font-size: 38px;
  }
}



textarea {
  resize: none;
}

.modal-backdrop.show {
  opacity: 0.7;
  background: #2e2e2e;
}

.modal-content {
  border-radius: 1.5rem;
  background: #fff;
  padding: 3.5rem 1.5rem 2rem;
  @include minWidth(992px) {
    padding: 3rem;
  }
}

.modal {
  .close {
    opacity: 1;
    width: 2rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    @include minWidth(992px) {
      width: 3rem;
      height: 3rem;
    }
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: $primary;
    margin-bottom: 2rem;
  }

  label {
    font-size: 16px;
    line-height: 150%;
    color: $grey-4;
    margin-bottom: 8px;
    span {
      color: $grey-1;
    }
  }

  input {
    border-radius: 8px;
    outline: none;
    height: 50px;
    padding: 0.875rem 1rem;
    &:focus {
      outline: none;
      box-shadow: none;
      background: $main-06;
      border-color: $main-06;
    }
    &::-webkit-input-placeholder {
      /* Edge */
      color: $gray-03;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-03;
    }

    &::placeholder {
      color: $gray-03;
    }
  }

  textarea {
    @extend input;
    height: auto;
  }

  .btn {
    border-radius: 4px;
  }

  .select2-container--default {
    .select2-selection--single {
      @extend input;
      padding: 0;
      height: 50px;

      .select2-selection__rendered {
        line-height: 50px;
        padding-left: 16px;
        padding-right: 36px;
      }

      .select2-selection__arrow {
        height: 50px;
        right: 15px;

        b {
          border: 0;
          background: url(../images/icon-arrow.svg) no-repeat;
          width: 20px;
          height: 20px;
          margin: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    .select2-results > .select2-results__options {
      max-height: 245px;
    }

    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow {
          b {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }
    }

    .select2-results__option--selected,
    .select2-results__option--highlighted.select2-results__option--selectable {
      background: $main-05;
      color: $main-black;
    }

    .select2-selection__placeholder {
      color: $grey-1;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;
    }
  }

  .select2-dropdown {
    border-radius: 0px 0px 1.5rem 1.5rem;
    background: $light;
    box-shadow: 0px 2px 16px 0px rgba(80, 84, 89, 0.08);
    border: none;
    height: 280px;
    padding: 16px;
    top: 8px;
  }

  /* width */
  .select2-dropdown ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  .select2-dropdown ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray-04;
    border-radius: 10px;
  }

  /* Handle */
  .select2-dropdown ::-webkit-scrollbar-thumb {
    background: $grey-1;
    border-radius: 10px;
  }

  /* Handle on hover */
  .select2-dropdown ::-webkit-scrollbar-thumb:hover {
    background: $grey-1;
  }

  .select2-results__option {
    font-size: 16px;
    line-height: 150%;
    color: $main-black;
    padding: 16px;
  }
}
.text-danger
{
  font-size: 12px;
  margin-top: 3px;
}
.modal-dialog {
  @include minWidth(768px) {
    max-width: 80%;
  }
  @include minWidth(1200px) {
    max-width: 1100px;
  }
}

.popup-child {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  transition: opacity 0.15s linear;
  align-items: center;
  justify-content: center;
  padding: 16px;
  &:not(.show) {
    opacity: 0;
  }

  &.show {
    display: flex;
  }

  .popup-backdrop {
    opacity: 0.7;
    background: #2e2e2e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
  }

  .popup-content {
    position: relative;
    z-index: 1041;
    max-width: 100%;
  }

  .popup-body {
    border-radius: 1.5rem;
    background: $light;
    max-width: 100%;
    margin: auto;
    padding: 3rem 1.5rem;
    @include minWidth(992px) {
      padding: 3rem;
      max-width: 808px;
    }
  }

  .close {
    opacity: 1;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    @include minWidth(992px) {
      width: 3rem;
      height: 3rem;
    }
  }

  h2 {
    color: $primary;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin-bottom: 2rem;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      margin-right: 8px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 0;
      color: $grey-1;
    }
  }
}

#sendSuccess {
  .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 26px;
  }

  p {
    margin-bottom: 30px;
  }
}
.heading-hataco{
  h2{
    margin-bottom: 5px;
    @include minWidth(768px){
      margin-bottom: 16px;
    }
  }
  .img{
    margin-bottom: 10px;
    @include minWidth(768px){
      margin-bottom: 0px;
    }
  }
  p{
    max-width: 927px;
    margin: 0 auto;
    font-weight: 300; 
    color: $grey-light;
    margin-top: 10px;
    line-height: 25px;
  }
}
.image-cover-h{
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 100%;
  background-position: 50% 50%;
  background-size: cover;
  img{
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}