.homepage{
    section{
        margin-top: 41px;
        @include minWidth(768px){
            margin-top: 119px;
        }
    }
}
.banner-top{
    margin-top: 0 !important;
    .img-mobile{
        height: 346px; 
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.introduce{
    .text{
        .heading{
            font-family: 'Carattere', cursive;
            font-size: 40px; 
            color: #A4A4A4;
            font-weight: 400; 
            line-height: 23px;
            margin-bottom: 18px;
            @include minWidth(768px){
                font-size: 48px; 
                margin-bottom: 22px;
            }
        }
        h2{
            color: $primary;
        }
        p{
            color: #525252;
            font-weight: 300; 
            line-height: 1.75;
            &:not(:last-child){
                margin-right: 30px;
            }
        }
        .box-description{
            border-left: 2px solid $green-1;
            padding-left: 16px;
            padding-top: 13px;
            padding-bottom: 13px;
            margin-bottom: 20px;
            @include minWidth(768px){
                padding-left: 27px;
                padding-top: 33px;
                margin-bottom: 0;
            }
            .description{
                margin-bottom: 0px;
                p{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                @include minWidth(768px){
                    margin-bottom: 39px;
                }
            }
        }
    }
    .img{
        margin-bottom: 20px;
        @include minWidth(768px){
            margin-bottom: 0px;
        }
    }
}
.product-hataco{
    .heading-hataco{
        margin-bottom: 12px;
    }
    .swiper-button-prev{
        top: 37%;
        box-shadow: none;
    }
    .swiper-button-next{
        top: 37%;
        box-shadow: none;
    }
    .swiper-pagination{
        margin-top: 18px;
    }
    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        border-radius: 100%;
    } 
}
.product-hataco-slider{
    .swiper-wrapper{
        align-items: center;
        padding-top: 25px;

    }
    .swiper-slide{
        cursor: pointer;
       :hover{
            .box-img{
                height: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include minWidth(576px){
                    height: 220px;
                }
                @include minWidth(768px){
                    height: 208px;
                }
                @include minWidth(850px){
                    height: 230px;
                }
            }
            .img{
                transform: scale(1.1);
                position: relative;
                border-radius: 25px;
                height: max-content;
                img{
                    object-fit: contain;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: -1;
                    margin: -5px; /* !importanté */
                    border-radius: inherit; /* !importanté */
                    background: linear-gradient(to right, #5B9E47, #D2EAB0);
                }
            }
       }
        h4{
            padding-top: 0px;
            color: $primary;
            font-size: 1rem;
            text-align: center;
            font-weight: 600;
            line-height: 27px;
            text-transform: uppercase; 
            margin: 0 auto;
        }
    }
    
}
.list-product-best-seller{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap:10px;
    margin-bottom: 22px;
    .image-cover-h{
        padding-top: 95%;
        @include minWidth(768px){
            padding-top: 96%;
        }
    }
    @include minWidth(768px){
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap:30px;
    }
    @include minWidth(1024px){
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-bottom: 0;
    }
}
.list-item-product-t{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap:10px;
    @include minWidth(480px){
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include minWidth(576px){
        column-gap:20px;
    }
    @include minWidth(1100px){
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include minWidth(1400px){
        grid-template-columns: repeat(5, minmax(0, 1fr));
        column-gap:30px;
    }
    .item-best-seller{
        display: none;
        &:nth-child(n+4){
            display: block;
        }
        @include minWidth(480px){
            &:nth-child(n+3){
                display: block;
            }
        }
        @include minWidth(1100px){
            &:nth-child(n+2){
                display: block;
            }
        }
        @include minWidth(1400px){
            &:nth-child(n+5){
                display: block;
            }
        }
        h4{
            font-size: 14px;
            @include minWidth(768px){
                font-size: 17px;
            }
        }
        .info{
            .price{
                .sale{
                    line-height: 20px;
                }
                .cost{
                    line-height: 20px;
                }
            }
        }
        .img{
            height: 131px; 
            display: block;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            @include minWidth(768px){
                height: 230px;
            }
        }
    }
}
.item-best-seller{
    margin-top: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    @include minWidth(768px){
        margin-top: 30px;
    }
    .info{
        padding: 5px 5px 18px;
        text-align: center;
        @include minWidth(768px){
            padding: 21px 20px 32px;
        }
        @include minWidth(1200px){
            padding: 21px 32px 32px;
        }
        h4{
            color: #333;
            max-width: 100%;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.51px; 
            margin-bottom: 10px;
            @include minWidth(768px){
                font-size: 17px;
                line-height: 27px;
            }
        }
        .price{
            justify-content: space-between;
            margin-bottom: 11px;
            flex-direction: column;
            min-height: 3em;
            @include minWidth(570px){
                flex-direction:row;
                min-height: 1em;
            }
            .sale{
                color: #F54343;
                font-size: 16px;
                font-weight: 600;
                line-height: 34px;
                @include minWidth(768px){
                    font-size: 18px;
                }
            }
            .cost{
                color: #A4A4A4;
                font-size: 13px;
                font-weight: 400;
                line-height: 34px;
                @include minWidth(768px){
                    font-size: 14px;

                }
                &.cost-s{
                    text-decoration-line: line-through; 
                }
            }
        }
        .btn-linear-rounded{
            color: $light;
            padding: 6px 10px;
            font-size: 13px;
            @include minWidth(768px){
                font-size: 16px;
                padding: 6px 18px;
            }
        }
    }
}
.product-category-h{
    .slider-thumb{
        position: relative;
        margin-bottom: 22px;
        padding: 0 20px;
        @include minWidth(768px){
            padding: 0;
            margin-bottom: 38px;
        }
        .slider-tab-p{
            border-radius: 50px; 
            border: 1px solid #D1D1D1; 
            padding: 8px;
            .swiper-slide{
                .item-tab{
                    text-align: center;
                    border-right: 1px solid #D9D9D9;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    padding: 5px;
                    @include minWidth(768px){
                        padding: 6px 22px;
                    }
                }
                &.swiper-slide-thumb-active{
                    .item-tab{
                        color: $light;
                        border-radius: 50px;
                        background: linear-gradient(71deg, #0D6C42 0%, #8DC540 100%);
                    }
                }
            }
            &::after{
                content: '';
                height: 100%;
                background-color: #fff;
                position: absolute;
                right: 0px;
                width: 10px;
                top: 0;
                z-index: 9;
            }
        }
        .swiper-button-prev,
        .swiper-button-next{
            background-color: transparent;
            height: 21px;
            box-shadow: none;
            top: 50%;
            transform: translateY(10px);
            svg{
                width: 13px;
                @include minWidth(768px){
                    width: 21px;
                }
            }
        }
    }
    .slider-main-p{
        position: relative;
        .swiper-button-prev,
        .swiper-button-next{
            box-shadow: none;
            background-color: transparent;
            svg{
                width: 26px;
                @include minWidth(768px){
                    width: 40px;
                }
            }
        }
        .swiper-pagination{
            margin-top: 18px;
        }
        .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            border-radius: 100%;
        }    
    }
    .slider-product-p {
        padding: 6px;
        position: relative;
        .item-best-seller{
            margin-top: 0;
        }    
    }
}
.why-choose-me{
    .heading-hataco{
        p{
            color: #505050; 
            font-size: 15px;
            line-height: 27px;
            margin-bottom: 30px;
        }
    }
    .content-why-choose-me{
        .intro{
            flex: 2;
            padding-right: 85px;
            position: relative;
            max-width: 510px;
            h2{
                color: #0D6C42;
                font-size: 35px;
                font-weight: 500;
                line-height: 55px;
                margin-bottom: 10px;
                strong{
                    font-size: 45px; 
                }
            }
            p{
                color: #505050;
                text-align: justify;
                font-size: 15px;
                font-weight: 400;
                line-height: 27px;
                max-width: 425px;
            }
            &::after{
                content: url("../images/line-1.png");
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .f-1{
            position: relative;
            padding-right: 29px;
            @include minWidth(768px){
                padding-right: 60px;
            }
            &::after{
                content: "";
                background-image: url("../images/line-2-sp.png");
                height: 100%;
                width: 10px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: auto;
                background-repeat: no-repeat;
                @include minWidth(992px){
                    content: url("../images/line-2.png");
                    top: auto;
                    bottom: 0;
                }
            }
        }
        .feature{
            flex: 1;
            padding-left: 0px;
            &.f-2{
                padding-left: 18px;
                @include minWidth(768px){
                    padding-left: 60px;
                }
            }
            @include minWidth(992px){
                padding-left: 60px;
            }
            .title{
                flex-direction: column;
               
                @include minWidth(768px){
                    flex-direction: row;
                    margin-bottom: 14px;
                }
                h5{
                    margin-top: 15px;
                    color: #0D6C42;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 29px;
                    @include minWidth(768px){
                        font-size: 24px;
                        margin-left: 14px;
                        margin-top: 0;
                    }
                }
            }
            p{
                color: #3A3A3A;
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
                @include minWidth(768px){
                    font-size: 17px;
                    text-align: justify;
                    line-height: 29px;
                }
            }
        }
    }
}
.review-customer{
    background-image: url(../images/bg-review.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 48px;
    padding-bottom: 48px;
    @include minWidth(768px){
        padding-top: 124px;
        padding-bottom: 124px;
    }
    .heading-hataco{
        color: $light;
        margin-bottom: 35px;
        p{
            color: $light;
        }
    }
    .box-slide{
        padding: 0 14px;
        position: relative;
        @include minWidth(768px){
            padding: 0;
        }
        .swiper-pagination-bullet{
            margin-top: 35px;
        }
    }
}
.item-review-customer{
    border-radius: 20px;
    background: #FFF; 
    position: relative;
    text-align: center;
    padding: 37px;
    h5{
        color: $primary;
    }
    .img{
        width: 102px;
        height: 102px;
        margin: 0 auto 18px;
    }
    .icon{
        width: 54px;
        height: 40px;
        margin: 0 auto 18px;
    }
    .address{
        margin: 0 auto 18px;
    }
    .des{
        font-family: 'SVN-Gilroy', sans-serif;
        color: #464646;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
    }
    &::after{
        border: 1px dashed #8DC540;
        content: '';
        width: 96%;
        height: 98%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
    }
}
.blog-news{
    margin-bottom: 49px;
    @include minWidth(768px){
        margin-bottom: 119px;
    }
    .heading-hataco{
        margin-bottom: 11px;
        @include minWidth(1024px){
            margin-bottom: 24px;
        }
    }
    .blog-content{
        .box-slider{
            margin-bottom: 20px;
            width: 100%;
            @include minWidth(1200px){
                width: 69.5%;
                padding-right: 31px;
                margin-bottom: 0;
            }
        }
        .blog-list{
            width: 100%;
            @include minWidth(1200px){
                width: 31.5%;
            }
            .item-blog-list{
                .box-image{
                    border-radius: 20px 0px 0px 20px;
                    @include minWidth(1200px){
                        border-radius: 20px 20px 0 0;
                    }
                }
                .box-text{
                    h3{
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        max-height: 4.7em;
                        display: -webkit-box;
                        font-size: 17px;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .slider-blog-news{
        padding: 6px;
        .box-image{
            padding-top: 72%;
            border-radius: 20px 20px 0px 0px;
            @include minWidth(768px){
                padding-top: 71%;
            }
        }
    }
}
.item-blog-new{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
    .box-text{
        padding: 30px;
        h3{
            color: #403F46;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
        }
        .post-meta{
            color: #898989;
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            text-transform: lowercase; 
        }
        p{
            color: #636363;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-transform: lowercase;
            margin-bottom: 8px; 
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 5em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}
.mySwiper{
    .swiper-slide-thumb-active{
        background-color: red;
    }
}
.item-blog-list{
    display: flex;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 24px;
    .box-image{
        width: 164px;
        padding-top: 10%;
        border-radius: 20px 20px 0 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .box-text{
        width: 59%;
        padding: 24px 24px 12px;
        h3{
            color: #403F46;
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
        }
        .post-meta{
            color: #898989;
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            text-transform: lowercase; 
        }
    }
}
.video-hataco{
    .heading-hataco{
        margin-bottom: 16px;
    }
}
.content-video-hataco{
    position: relative;
}
.content-video-hataco-mobile{
    .slide-main-video{
        position: relative;
    }
    .slider-thumb-video {
        margin-top: 13px;
        position: relative;
        .image-cover-h{
            padding-top: 67%;
        }
        .img{
            &::after{
                content: '';
                background-image: url('../images/ic-play.svg');
                width: 25px;
                height: 25px;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}
.slider-video-hataco{
    .video-slider{
        width: 100%;
        height: 273px;
        @include minWidth(768px){
            height: 379px;
        }
    }
    .play-video-slider{
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        &:not(.active)
        {
            cursor: pointer;
        }
        &.active{
            display: none;
        }
        &::after{
            content: url('../images/ic-play.svg');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}