$primary: #0D6C42;
$green-light: #EAF6D8;
$green-1: #8DC540;
$green-2:#A1AF8C;
$grey-1:#4E514F;
$grey-2:#333;
$grey-3: #3A3A3A;
$grey-4: #464646;
$grey-5:#403F46;
$grey-6: #898989;
$grey-7: #545454;
$grey-light: #5A5A5A;
$grey-border: #E1E1E1;
$red: #F54343;
$red-2: #ED1F24;
$light: #fff;
$dark:#000;

$main-black: #2E2E2E;
$main-01: #0A2349;
$main-02: #003E83;
$main-03: #1E5AB2;
$main-04: #00C7F2;
$main-05: #F9FAFE;
$main-06 : #F1F9FF;
$main-07: #062249;
$main-light: #EBF5FC;
$sub-main-error: #F93232;
$sub-main-validation: #FFB82E;
$sub-main-success: #31C074;
$sub-main-01: #09A4E8;
$sub-main-light: #9AB7D8;
$gray-01: #50555B;
$gray-02: #868D95;
$gray-03: #C6CBD0;
$gray-04: #F0F0F0;
